@import "node_modules/bootstrap/scss/bootstrap";
#navbar {
  width: 200px;
  background-color: lightgray;
}

#navbardropdown{
  width: 180px;
  background-color: lightgray;
}

.dropdown {
  margin-bottom: 1000px;
}